#header, .container {
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

#header .jumbotron  {
  background-color: #111;
  width: 100%;
}

#header {
  font-size: 66px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 200;
}

#header h1 {
  margin: 30px 0px;
  font-weight: bold;
  color: #c7493a;
  letter-spacing: 5px;

}

#header h3 {
  color: #bdbaad;
}

#header p {
  font-size: 16px;
  color: #bdbaad;
  margin-top: 20px;
  margin-bottom: 0px;
}

#line {
  width: 85%;
  margin: auto;
  height: 4px;
  border-top: solid 1px;
  border-top-color: #c7493a;
}

#container {
  margin-left: 75px;
  margin-right: 75px;
}

#container .row {
  margin-bottom: 30px;

}

#container #info {
  padding-top: 40px;
  padding-bottom: 40px;
}

#info h3 {
  padding-left: 50px;
}


.row.equal-cols {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -50px;
}

.row.equal-cols:before,
.row.equal-cols:after {
  display: block;
}

.row.equal-cols > [class*='col-'] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.row.equal-cols > [class*='col-'] > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; 
}

#container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#container .panel.panel-primary, #container .well, #container .panel-heading {
  border-bottom-color: rgba(140, 165, 147, 0.9);
  border-left-color: rgba(140, 165, 147, 0.9);
  border-right-color: rgba(140, 165, 147, 0.9);
  border-top-color: rgba(140, 165, 147, 0.9);
}

#panel {
  padding-right: 65px;
}

#container .panel.panel-primary {
  margin-top: 95px;
}

#container .panel-heading, #container .well {
  background-color: rgba(140, 165, 147, 0.8);
}

#container .well h5 {
  color: white;
}

#scatter_row .col-md-3, .status_row  {
  background-color: #a33327; 
  opacity: 0.6;
  color: white;
}
/* 
#info h3 {
  color: white;
} */

.self_made_row {
  /* background-color: #669872; */
  background-image: url("background2.jpg");
}

/* body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 } */

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}


.shimmer {
  display: inline-block;
  color:white;
  
  background: #c7493a -webkit-gradient(linear, 100% 0, 0 0, from(#c7493a), color-stop(0.3, #ddca7e), to(#c7493a));
  
  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 30rem 100%; /*50px*/
  
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -4rem top; /*50px*/
    }

    70% {
        background-position: 12.5rem top; /*200px*/
    }

    100% {
        background-position: 12.5rem top; /*200px*/
    }
}