<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Billionaires</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

  <!-- Marker Cluster CSS -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

  <div id="header">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1 class="shimmer">billionaires</h1>
        <h3>interactive dashboard with data for 2500+ billionaires from around the world</h3>
        <div id="line"></div>
        <p>use the charts below to explore the dataset</p>
      </div>
      
    </div>
  </div>

  <div id="container" class="container">

    <div class="row">
      <div class="col-md-3">
        <div>

          <h3>Country:</h3>
          <select id="selCountry" onchange="countryChanged(this.value)"></select>
          <br>
          <br>

          <h3>Total Number of Billionaires:</h3>
          <h4>125</h4>
          <br>

          <h3>Total Net Worth:</h3>
          <h4>$ 1525</h4>
        
        </div>
      </div>
      <div class="col-md-8">
        <div id="map">
          <!-- <img src="static/css/map.jpg" alt="map" width="800" height="400"> -->
        </div>
      </div>
    </div>

    <div class="row equal-cols" id="self_made_row">

      <div class="col-md-6">

        <div id="self_made">
          <!-- <img src="static/css/slelf_made.jpg" alt="map" width="400" height="400"> -->
        </div>

        <div id="info" class="self_made_row">
          <h3>71.1% of billionaires are self made </h3>
        </div>

      </div>


      <div class="col-md-6">

        <div id="status">
          <!-- <img src="static/css/status.jpg" alt="map" width="600" height="400"> -->
        </div>
        
        <div id="info" class="status_row">
          <h3>62.9% of billionaires are married </h3>
        </div>

      </div>

    </div>


    <div class="row equal-cols" id="bar_row">

      <div class="col-md-3">
        <div id="info">
          <h3>Top 10 billionaires </h3>
        </div>
      </div>

      <div class="col-md-8">
        <div id="bar">
        </div>
      </div>
      
    </div>

    <div class="row">

      <div class="col-md-5">
        <h2>Select a billionaire to view the details: </h3>
        <div class="well">
          <h5>Pick Billionaire</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      </div>

      <div class="col-md-7" id="panel">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Info</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>

    </div>

    <div class="row equal-cols" id="scatter_row">

      <div class="col-md-3">
        <div id="info">
          <h3>There is a correlation between age and number of billionaires </h3>
        </div>
      </div>

      <div class="col-md-8">
        <div id="my_dataviz">
          <!-- <img src="static/css/animated-scatter.gif" alt="map" width="600" height="400"> -->
        </div>
      </div>

    </div>
    
    <div class="row equal-cols"> 

      <div class="col-md-12">

        <div class="chart">	</div>

        <div id="my_dataviz"></div>

      </div>
      
    </div>

  </div>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Marker Cluster JS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

  <script src="./static/js/app.js"></script>
  <script src="./static/js/trial2.js"></script>
  <script src="./static/js/config.js"></script>
  <script src="./static/js/map.js"></script>
  
</body>

</html>
